.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.logo {
  margin-bottom: 2rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  align-items: center;
}

.v-icon {
  font-size: 24px;
  cursor: pointer;
}

.view-switch {
  display: flex;
  align-items: center;
}

.cardView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.card {
  cursor: pointer;
}

.slideView {
  display: flex;
  overflow-x: scroll;
}

.slide {
  flex: 0 0 auto;
  cursor: pointer;
  margin-right: 10px;
}